@{
    ViewBag.Title = "Matrix";
}

<div class="row">
    <input type="file" id="downloadFileInput" accept=".csv"/>
    <button id="downloadFile" title="Загрузить матрицу из файла .csv"><i class="fas fa-download fa-2x"></i></button>
    <button id="uploadMatrix" title="Экспортировать матрицу в файл .csv"><i class="fas fa-upload fa-2x"></i></button>
    <button id="randomMatrix" title="Сгенерировать рандомную матрицу"><i class="fas fa-random fa-2x"></i></button>
    <button id="rotateMatrix" title="Повернуть матрицу на 90 градусов"><i class="fas fa-retweet fa-2x fa-spin"></i></button>
</div>
<div class="row" id="matrix">
</div>
@section Scripts {
    @Scripts.Render("~/bundles/matrix")
}